!!!
%html
  %head
    %link{href: 'application.css', type: 'text/css', rel: 'stylesheet'}
    %script{src: 'd3.v3.js', type: 'text/javascript'}
  %body
    %h1 Dashboard
    %script{src: 'application.js', type: 'text/javascript'}
